%h1 Test Run #{test_run.id}

%dl.details
  %dt Project
  %dd
    %a{:href => project_path(test_run)}= test_run.project_origin

  %dt SHA
  %dd
    - test_run_sha_link(test_run)

  %dt Requestor
  %dd= test_run.requestor


%h2 Jobs
%ol.jobs
  - test_run.jobs.each do |job|
    %li
      = job.index
      %ol.events
        - job.events.each do |event|
          %li{:'data-occurred_at' => event.occurred_at}= event.description

%h3 Tests
%table.tests
  %thead
    %tr
      %th Job
      %th Type
      %th Name
      %th Tries
      %th Est. Runtime
      %th Runtime
      %th Status
      %th Result
      %th Logs
  %tbody
    - test_run.tests.each do |test|
      %tr
        %td
          = test.job_index
        %td
          = test.type
        %td
          = test.name
        %td
          = test.tries
        %td
          = test.est_runtime
        %td
          = test.runtime
        %td
          = test.status
        %td
          = test.result
        %td

