%h1 Test Run #{test_run['id']}

%dl.details
  %dt Project
  %dd
    %a{:href => project_path(test_run)}= test_run['project_origin']

  %dt SHA
  %dd
    - test_run_sha_link(test_run)

  %dt Requestor
  %dd= test_run['requestor']


%table.tests
  %thead
    %tr
      %th Type
      %th Name
      %th job_index
      %th started_at
      %th completed_at
      %th result
      %th tries
  %tbody
    - test_run['tests'].each do |test|
      - type, name = test_type_and_name(test)
      %tr
        %td
          = type
        %td
          = name
        %td
          = test['job_index']
        %td
          = test['started_at']
        %td
          = test['completed_at']
        %td
          = test['result']
        %td
          = test['tries']

= test_run.to_yaml
